<div class="register-container p-grid p-justify-center p-align-center">
  <div class="p-col-12 p-md-6 p-lg-4">
    <p-card header="Registro" class="register-card">

      <div class="d-flex justify-content-center align-items-center mb-4">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="register-form">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" required ngModel #emailField="ngModel" class="form-control" />
            <small class="text-danger" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
              Email es requerido.
            </small>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" name="password" required ngModel #passwordField="ngModel" class="form-control" />
            <small class="text-danger" *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
              Contraseña es requerida.
            </small>
          </div>

          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required ngModel #confirmPasswordField="ngModel" class="form-control" />
            <small class="text-danger" *ngIf="confirmPasswordField.invalid && (confirmPasswordField.dirty || confirmPasswordField.touched)">
              Confirmación de contraseña es requerida.
            </small>
            <small class="text-danger" *ngIf="!passwordsMatch(passwordField.value, confirmPasswordField.value) && (confirmPasswordField.dirty || confirmPasswordField.touched)">
              Las contraseñas no coinciden.
            </small>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!registerForm?.form?.valid">Crear cuenta</button>
          </div>
        </form>

        <div class="ms-4">
          <img src="assets/logo.png" class="img-fluid " style="max-width: 100px;" alt="Imagen de registro">
        </div>
      </div>

      <div class="p-mt-3 text-center">
        <a routerLink="/auth/login">¿Ya tienes cuenta?</a>
      </div>
    </p-card>
  </div>
</div>
